/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$toc-left-margin: 1rem;

.vk_tableOfContents {
	margin-top: 3.5em;
	&:first-child {
		margin-top: 0;
	}
	margin-bottom: 3.5em;
	position: relative;
	&-style-default {
		border: 3px solid rgba(0, 0, 0, 0.04);
		box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
		background-color: rgba(0, 0, 0, 0.015);
		padding: 2rem 1.5rem;
		@media (min-width: 576px) {
			padding: 2rem 3rem;
		}
	}
	&_title {
		text-align: center;
		font-size: 1.2em;
		letter-spacing: 0.5em;
		margin-left: 0.5em;
	}
	li {
		margin: 0;
	}
	&_list {
		padding: 0;
		margin: 0;
		&_item {
			list-style: none;
			border-bottom: 1px solid #e5e5e5;
			padding: 0.8rem 0;
			&-h-2 {
				// padding-left:$toc-left-margin;
			}
			&-h-3 {
				padding-left: $toc-left-margin * 1;
			}
			&-h-4 {
				padding-left: $toc-left-margin * 2;
			}
			&-h-5 {
				padding-left: $toc-left-margin * 3;
			}
			&-h-6 {
				padding-left: $toc-left-margin * 4;
			}
			&_link {
				color: #333;
				border-bottom: none;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid #ccc;
				}
			}
		}
	}
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	& &_openCloseBtn {
		cursor: pointer;
		font-size: 0.8em;
		letter-spacing: 2px;
		line-height: 1;
		border: 1px solid #999;
		padding: 3px 1em 2px;
	}
	.button_status {
		color: #666;
		font-size: 0.64em;
		border-radius: 2px;
		display: inline-block;
		margin: auto;
		width: auto;
		transition: all 0.35s;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	/* Accordion styles */
	.tab {
    width: 100%;
		overflow: hidden;
			&_content-open {
				max-height: 100%;
				padding: 1em;
				transition: all 0.35s;
			}
			&_content-close {
				max-height: 0;
				padding: 0 1em;
				transition: all 0.35s;
			}
			&-close {
				display: flex;
				justify-content: flex-end;
				padding: 1em;
				font-size: 0.75em;
				cursor: pointer;
			}
	}
	// :checked
	input:checked~.button_status-open {
		~ .tab_content-open {
			max-height: 100%;
			padding: 1em;
		}
	}
	.button_status-open {
		~ .tab_content-open {
			max-height: 0;
			padding: 0 1em;
		}
	}
	input:checked~.button_status-close {
		~ .tab_content-close {
			max-height: 100%;
			padding: 1em;
		}
	}
	.button_status-close {
		~ .tab_content-close {
			max-height: 0;
			padding: 0 1em;
		}
	}

	.vk_tableOfContents_list {
		margin-bottom: 0; // for lightning
	}

	// 編集画面、または ver 1.76.2 以前で疑似要素を使用時
	.button_status-open:not(#vk-tab-label) {
		&::before {
			content: "CLOSE";
		}
	}
	.button_status-close:not(#vk-tab-label) {
		&::before {
			content: "OPEN";
		}
	}
	// :checked
	input:checked {
		~ .button_status-open:not(#vk-tab-label) {
			&::before {
				content: "OPEN";
			}
		}
		~ .button_status-close:not(#vk-tab-label) {
			&::before {
				content: "CLOSE";
			}
		}
	}
}
