.custom_block_style_item {
	box-sizing: border-box;
	padding: 20px;
	margin: 20px 0;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;

	.custom_block_style_item_block_name {
		display: flex;
	}

	.vk-codemirror-options {
		width: 100%;
	}
}

.custom_block_style_add_modal {
	.custom_block_style_block-manager__results {
		height: 30vh;
		overflow-y: scroll;
	}

	.block_name_radio_control {
		.components-radio-control__option {
			display: flex;
		}
	}

	.block_name_radio_label {
		display: flex;
	}

}
