.vk_admin_marginUnit {
	display: flex;
	align-items: center;
	margin-bottom: 1em;

	span {
		margin-right: 4px;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.vk_admin_selectControl.unit-select {
	width: 7em;
}

.margin-setting {
	&__size-name {
		min-width:90px;
	}
	dl {
		margin:0;
	}
	td {
		padding:2px 3px;
	}
	.margin_size_input {
		flex-direction: row;
		align-items: center;
		.components-base-control__field {
			margin: 0;
		}
		.components-text-control__input[type="text"],
		.components-input-control__input {
			margin:0;
			background-color: #fff;
		}
		.components-input-control__container .components-input-control__input {
			width: 5em;
		}
		&--custom .components-text-control__input {
			// margin:0;
			width:100%;
		}
	}
}
