.text_style_item {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 20px 15px 15px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);

	.text_style_item_control,
	.text_style_item_preview {
		width: 50%;

		@media screen and (max-width: 991.98px) {
			width: 100%;
		}
	}

	.text_style_item_control {
		max-height: 90vh;
		overflow: auto;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;

		.components-circular-option-picker {
			min-width: auto;
		}
	}

	.text_style_item_preview {
		text-align: center;
	}
}
