/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$media-sm-up: 576px;
$media-md-up: 768px;
$media-lg-up: 992px;
$media-xl-up: 1200px;
$media-xxl-up: 1400px;
$media-sm-down: 575.98px;
$media-md-down: 767.98px;
$media-lg-down: 991.98px;
$media-xl-down: 1199.98px;
$media-xxl-down: 1399.98px;

.vk_outer {
	box-sizing: border-box;
}

// .wp-block-vk-blocks-outerがないと打ち消されてしまうので追加
.wp-block-vk-blocks-outer.vk_outer {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	// リンク設定
	& > .vkb-outer-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: transparent;
		cursor: pointer;
		z-index: 10;
	}

	/**
	* Outer block deprecated
	* WordPress6.0からhas-border-colorのクラス全体にborder-style: solid;がつくようになった
	* https://github.com/WordPress/gutenberg/pull/33743
	* vk-blocks 1.26.0 〜 1.33.2.0までの間,枠線の種類をなし(none)を選んだとしてもborderのclassがついてしまったためhas-border-colorはborder-styleはnoneにする
	* https://github.com/vektor-inc/vk-blocks-pro/issues/1187
	*/
	&.has-border-color {
		border-style: none;
	}

	.vk_outer-background-area.has-background-dim::before {
		content: "";
		z-index: 1;
	}

	// 背景色が選択されていない時
	.vk_outer-background-area:not([class*="-background-color"]) {
		background-color: #f3f4f5;
	}

	.vk_outer-background-area,
	.vk_outer-background-area.has-background-dim::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.5;
	}

	// 互換性対応 1.60.0 以前のスタイル
	@for $i from 0 through 10 {
		.vk_outer-background-area.has-background-dim-#{ $i } {
			opacity: $i * 0.1;
		}
	}

	.vk_outer_container,
	.vkb-outer_container {
		position: relative;
		min-height: 24px;
		z-index: 1;
		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child {
			// 他テーマ用
			margin-top: 0;
		}
	}
}

// これがないとレスポンシブスペーサーの共通高さが検出しない。
.vk_outer {
	display: block;
	overflow: hidden;
}

// iOS Safari での1pxズレの予防のため Only Safari 10.1+
@supports (-webkit-touch-callout: none) {
	.wp-block-vk-blocks-outer {
		margin-top: -0.45px;
	}
}

// Fit to content area width
.vk_outer-width-full.vk_outer-paddingLR-none {
	padding-left: calc(50svw - 50%);
	padding-right: calc(50svw - 50%);
}

:root {
	--vk-outer-padding: 0;
}

.vk_outer-paddingLR-use {
	--vk-outer-padding: 1.5em;
	@media (min-width: $media-sm-up) {
		--vk-outer-padding: 2em;
	}

	@media (min-width: $media-md-up) {
		--vk-outer-padding: 2.5em;
	}

	@media (min-width: $media-lg-up) {
		--vk-outer-padding: 3em;
	}

	@media (min-width: $media-xl-up) {
		--vk-outer-padding: 3.5em;
	}

	@media (min-width: $media-xxl-up) {
		--vk-outer-padding: 4em;
	}
	padding-left: var(--vk-outer-padding);
	padding-right: var(--vk-outer-padding);
}

.vk_outer-paddingLR-zero {
	padding-left: 0;
	padding-right: 0;
}

.vk_outer-paddingVertical-use {
	--vk-outer-padding: 1.5em;
	@media (min-width: $media-sm-up) {
		--vk-outer-padding: 2em;
	}

	@media (min-width: $media-md-up) {
		--vk-outer-padding: 2.5em;
	}

	@media (min-width: $media-lg-up) {
		--vk-outer-padding: 3em;
	}

	@media (min-width: $media-xl-up) {
		--vk-outer-padding: 3.5em;
	}

	@media (min-width: $media-xxl-up) {
		--vk-outer-padding: 4em;
	}
	padding-top: var(--vk-outer-padding);
	padding-bottom: var(--vk-outer-padding);
}

.vk_outer-bgPosition-fixed {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: fixed !important;
	background-size: cover !important;

	// iPhone の時に fixed のままだとバグで反応せずに画像のcoverまで効かなくなって巨大な画像が表示されるので
	// scroll で上書きする
	@supports (-webkit-overflow-scrolling: touch) {
		background-attachment: scroll !important;
	}
}

.vk_outer-bgPosition-normal {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: unset !important;
	background-size: cover !important;
}

.vk_outer-bgPosition-repeat {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: unset !important;
	background-repeat: repeat !important;
	background-size: auto !important;
}

.vk_outer_separator {
	svg {
		display: block;
		max-height: 100px;
		position: absolute;
		left: 0;
		width: 100%;
		pointer-events: none; // 上に重なるとボタンなどのリンクが押せなくなるので追加
	}
}

.vk_outer_separator-position-upper {
	svg {
		top: 0;
		transform: rotate(180deg);
	}
}

.vk_outer_separator-position-lower {
	svg {
		bottom: 0;
	}
}

// Min Height Setting
.vk_outer-minHeight {
	display: grid;
	align-items: center;
	height: 100%;
	min-height: var(--min-height-mobile);

	@media (min-width: 576px) {
		min-height: var(--min-height-tablet);
	}

	@media (min-width: 992px) {
		min-height: var(--min-height-pc);
	}
}

/*-------------------------------------------*/
/* 管理画面
/*-------------------------------------------*/
@mixin switchVisibility($pc, $tablet, $mobile) {
	.vk_outer {
		.vk_outer-display-pc {
			display: $pc;
		}

		.vk_outer-display-tablet {
			display: $tablet;
		}

		.vk_outer-display-mobile {
			display: $mobile;
		}
	}
}

// Small devices (landscape phones, 575.98px以下)
@media (max-width: 575.98px) {
	@include switchVisibility(none, none, block);
}

// Medium devices (tablets, 577pxから 991.98px)
@media (min-width: 576px) and (max-width: 991.98px) {
	@include switchVisibility(none, block, none);
}

// Large devices (desktops, 992px以上)
@media (min-width: 992px) {
	@include switchVisibility(block, none, none);
}
