/*-------------------------------------------*/

/* CSS
/*-------------------------------------------*/
$media-sm-up: 576px;
$media-md-up: 768px;
$media-lg-up: 992px;
$media-xl-up: 1200px;
$media-xxl-up: 1400px;
$media-sm-down: 575.98px;
$media-md-down: 767.98px;
$media-lg-down: 991.98px;
$media-xl-down: 1199.98px;
$media-xxl-down: 1399.98px;

//.wp-block-vk-blocks-outerがないと打ち消されてしまうので追加
.wp-block-vk-blocks-outer.vk_outer {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	transform: translateZ(0); // Safari 1px bug 対応
	.vk_outer_container {
		min-height: 40px;
		h1:first-child, 
		h2:first-child, 
		h3:first-child, 
		h4:first-child, 
		h5:first-child {//他テーマ用
			margin-top: 0;
		}
	}
}
// これがないとレスポンシブスペーサーの共通高さが検出しない。
.vk_outer{
	display:block; 
	overflow:hidden;
}
//iOS Safari での1pxズレの予防のため　Only Safari 10.1+
@supports (-webkit-touch-callout: none) {
	.wp-block-vk-blocks-outer {
		margin-top: -0.45px;
	}
}

.vk_outer-width-full {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

// Fit to content area width
.vk_outer-width-full.vk_outer-paddingLR-none {
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}
$padding-none: 1.5em;
$padding-sm: 2em;
$padding-md: 2.5em;
$padding-lg: 3em;
$padding-xl: 3.5em;
$padding-xxl: 4em;

.vk_outer-paddingLR-use {
	padding-left: $padding-none;
	padding-right: $padding-none;

	@media (min-width: $media-sm-up) {
		padding-left: $padding-sm;
		padding-right: $padding-sm;
	}

	@media (min-width: $media-md-up) {
		padding-left: $padding-md;
		padding-right: $padding-md;
	}

	@media (min-width: $media-lg-up) {
		padding-left: $padding-lg;
		padding-right: $padding-lg;
	}

	@media (min-width: $media-xl-up) {
		padding-left: $padding-xl;
		padding-right: $padding-xl;
	}

	@media (min-width: $media-xxl-up) {
		padding-left: $padding-xxl;
		padding-right: $padding-xxl;
	}
}

.vk_outer-paddingLR-zero {
	padding-left: 0;
	padding-right: 0;
}

.vk_outer-paddingVertical-use {
	padding-top: $padding-none;
	padding-bottom: $padding-none;

	@media (min-width: $media-sm-up) {
		padding-top: $padding-sm;
		padding-bottom: $padding-sm;
	}

	@media (min-width: $media-md-up) {
		padding-top: $padding-md;
		padding-bottom: $padding-md;
	}

	@media (min-width: $media-lg-up) {
		padding-top: $padding-lg;
		padding-bottom: $padding-lg;
	}

	@media (min-width: $media-xl-up) {
		padding-top: $padding-xl;
		padding-bottom: $padding-xl;
	}

	@media (min-width: $media-xxl-up) {
		padding-top: $padding-xxl;
		padding-bottom: $padding-xxl;
	}
}

.vk_outer-bgPosition-fixed {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: fixed !important;
	background-size: cover !important;
	// iPhone の時に fixed のままだとバグで反応せずに画像のcoverまで効かなくなって巨大な画像が表示されるので
	// scroll で上書きする
	@supports (-webkit-overflow-scrolling: touch) {
		background-attachment: scroll !important;
	}
}

.vk_outer-bgPosition-normal {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: unset !important;
	background-size: cover !important;
}

.vk_outer-bgPosition-repeat {
	// background-attachment と background-size は !important をつけておかないと
	// 画面サイズ毎の指定が background に対してされていて attachment と size が無効化されるため !important を消さないこと
	background-attachment: unset !important;
	background-repeat: repeat !important;
	background-size: auto !important;
}

.vk_outer_separator {
	svg {
		display: block;
		max-height: 100px;
		position: absolute;
		left: 0;
		width: 100%;
		pointer-events: none; //上に重なるとボタンなどのリンクが押せなくなるので追加
	}
}

.vk_outer_separator-position-upper {
	svg {
		top: 0;
		transform: rotate(180deg);
	}
}

.vk_outer_separator-position-lower {
	svg {
		bottom: 0;
	}
}

$color-danger: #b52727;


/*-------------------------------------------*/
/* 管理画面
/*-------------------------------------------*/
:root {
	--padding-left: 0;
	--padding-right: 0;
}

.vk_outer-paddingLR-use {
	--padding-left: 1.5em;
	--padding-right: 1.5em;
	@media (min-width: $media-sm-up) {
		--padding-left: 2em;
		--padding-right: 2em;
	}
	@media (min-width: $media-md-up) {
		--padding-left: 2.5em;
		--padding-right: 2.5em;
	}
	@media (min-width: $media-lg-up) {
		--padding-left: 3em;
		--padding-right: 3em;
	}
	@media (min-width: $media-xl-up) {
		--padding-left: 3.5em;
		--padding-right: 3.5em;
	}
	@media (min-width: $media-xxl-up) {
		--padding-left: 4em;
		--padding-right: 4em;
	}
}

.edit-post-visual-editor {
	.wp-block-vk-blocks-outer.vk_outer.vk_outer-width-full {
		width: 100%;
		max-width: 100vw;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		&.vk_outer-paddingLR-use,
		&.vk_outer-paddingLR-zero {
			width: 100%;
			max-width: 100vw;

			padding-left: var(--padding-left);
			padding-right: var(--padding-right);

			.block-editor-inner-blocks {
				max-width: 100vw;
			}
		}
		.block-editor-inner-blocks {
			max-width: 1110px;
			margin: auto;
		}
	}
}


:root,
:root .editor-styles-wrapper {
	path {
		&.has-vk-color-primary-background-color {
			fill: var(--vk-color-primary);
		}
		&.has-vk-color-primary-dark-background-color {
			fill: var(--vk-color-primary-dark);
		}	
		&.has-vk-color-primary-vivid-background-color {
			fill: var(--vk-color-primary-vivid);
		}
		&.has-vk-color-custom-1-background-color {
			fill: var(--vk-color-custom-1);
		}
		&.has-vk-color-custom-2-background-color {
			fill: var(--vk-color-custom-2);
		}
		&.has-vk-color-custom-3-background-color {
			fill: var(--vk-color-custom-3);
		}
		&.has-vk-color-custom-4-background-color {
			fill: var(--vk-color-custom-4);
		}
		&.has-vk-color-custom-5-background-color {
			fill: var(--vk-color-custom-5);
		}

	}
}
