/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk-visual-embed {

	&.alignleft, 
	&.aligncenter,
	&.alignright {
		display: grid;
		width: 100%;
	}
	&.alignleft {
		justify-items: start;
	}
	&.aligncenter {
		justify-items: center;
	}
	&.alignright {
		justify-items: end;
	}

	iframe {
		display: block;
		border: none;
		margin: 0 auto; // lightning などテーマによっては余白がつくので追加
		max-width: 100%;
	}
}

.block-editor {
	.vk-visual-embed {
		&_notice {
			margin-bottom: 16px;
		}
	}
}
