/*.html
node_modules/
dist/
inc/vk-blocks/build/*
editor-css/editor-block-build.scss
editor-css/editor-block-build.css
editor-css/editor-block-build.css.map
editor-css/editor-block-build-marge.scss
._.DS_Store
.DS_Store
/vendor/*
*.override.json
src/blocks/**/style.css
src/blocks/**/style.css.map
src/blocks/_pro/**/style.css
src/blocks/_pro/**/style.css.map
test/e2e-tests/fixtures/blocks/*.json
test/e2e-tests/fixtures/blocks/*.serialized.html
.vscode/
# Composer autoload
!/vendor/autoload.php
!/vendor/composer/
!/vendor/wp-phpunit/
/vendor/wp-phpunit/*
!/vendor/wp-phpunit/wp-phpunit/
/vendor/wp-phpunit/wp-phpunit/*
!/vendor/wp-phpunit/wp-phpunit/__loaded.php
# Color Palatte Manager
!/vendor/vektor-inc/
/vendor/vektor-inc/*
!/vendor/vektor-inc/vk-color-palette-manager/
/vendor/vektor-inc/vk-color-palette-manager/*
!/vendor/vektor-inc/vk-color-palette-manager/src/
!/vendor/vektor-inc/vk-color-palette-manager/src/VkColorPaletteManager.php
