/*.html
node_modules/
build/
dist/
inc/vk-blocks/build/*
editor-css/editor-block-build.scss
editor-css/editor-block-build.css
editor-css/editor-block-build.css.map
editor-css/editor-block-build-marge.scss
._.DS_Store
.DS_Store
vendor/
*.override.json
src/blocks/**/style.css
src/blocks/**/style.css.map
src/blocks/_pro/**/style.css
src/blocks/_pro/**/style.css.map
test/e2e-tests/fixtures/blocks/*.json
test/e2e-tests/fixtures/blocks/*.serialized.html
.vscode/
artifacts/
/test-results/
/playwright-report/
/playwright/.cache/
temp/
.phpunit.result.cache
