/*.html
node_modules/
dist/
inc/vk-blocks/build/*.css
inc/vk-blocks/build/*.js
inc/vk-blocks/build/*.js.map
inc/vk-blocks/build/languages/vk-blocks.pot
inc/vk-blocks/build/*.js.LICENSE.txt
inc/vk-blocks/build/*.asset.php
editor-css/editor-block-build.scss
editor-css/editor-block-build.css
editor-css/editor-block-build.css.map
editor-css/editor-block-build-marge.scss
._.DS_Store
.DS_Store
vendor/
*.override.json