/*      .qaItem
/*-------------------------------------------*/
.vk_faq {
	display:block;
	overflow:hidden;
	border-bottom:1px dotted #ccc;
	padding:0px 0px 25px;
	margin:25px 0px;
	width:100%;
	position: relative;
	dt{
		border:none;
	}
}
.vk_faq_title,
.vk_faq_content {
	border:none;padding-left: 35px;
	&:before {
		position: absolute;left:0;font-size:24px;line-height: 105%;
	}
}
.vk_faq_title {
	margin-bottom:15px;font-size:18px;font-weight:700;
}
.vk_faq_content {
	margin:0px;
}
.vk_faq_label{
	margin-bottom:15px;
	font-weight:700;
	font-family:"areal";
	font-size: 24px;
    line-height: 105%;
}
.vk_faq_inner_section{
	display: flex;
	&.vk_faq_inner_section_answer{
		dd{
			width: 100%;
    		padding-left: 20px;
		}
	}
}
