.vk_categoryBadge,
.editor-styles-wrapper .vk_categoryBadge {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	&_multiple {
		display: flex;
		flex-wrap: wrap;
		.vk_categoryBadge {
			flex: 1;
		}
	}
}