/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_step {
  display: flex;
  align-items: start;

  i.vk_step_icon {
    display: flex;
    align-items: center;
  }

  //.vk_step_content {
  //  margin: 0 2%;
  //  width: 100%;
  //  .block-editor-inserter__toggle{
  //    opacity: 1;
  //  }
  //}
  //
  //.block-editor-block-list__insertion-point-inserter{
  //  opacity: 1;
  //}
}
