/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_step {

  .vk_step_header{
    display: flex;

    .block-editor-rich-text{
      width: 100%;
    }
  }

  .editor-inner-blocks {
  }

  .block-editor-block-list__insertion-point-inserter {
    opacity: 1;
    margin-top: 150px;

    .block-editor-inserter {
    }
  }
}
