/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_step {
  .editor-inner-blocks {
    border: 1px solid black;
  }

  .block-editor-block-list__insertion-point-inserter {
    opacity: 1;
    margin-top: 150px;

    .block-editor-inserter {
      border: 1px solid black;
      width: 100%;
      text-align: center;
      line-height: 9;
    }
  }
}
