/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
:root {
	--vk-step-item-dot-num-line-height:calc(var(--vk-size-text) * 1.2 );
}

.vk_step {
	// theme.json があると body .is-layout-flow > * に対して margin-block-start/end ともに 0 がつくので暫定的な上書き処理
	&,
	body .container .is-layout-flow > & {
		margin: 2em auto; 
	}
	.vk_step_item {
		position: relative;
		padding:0 0 0 calc(var(--vk-size-text) * 4.5 );
		margin: 0 auto;
		h3:first-of-type,
		h4:first-of-type {
			padding-top: calc(var(--vk-size-text) * 0.5 );
			margin-top: 0;
		}
		&_content {
			display:grid; // block & hidden だと中の要素のシャドウが切れるので grid に変更
			& > *:last-child{
				margin-bottom:var(--vk-margin-md);
			}
		}
		&_content > p:first-child {
			// 見出しのキャプション的な使われ方を想定して余白を少なくしている
			margin-bottom: 0.3em;
			line-height: 1;
			color: #666;
		}
		.vk_step_item_caption {
			margin-bottom: 0.5em;
			color: #666;
		}
		.vk_step_item_dot {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 9px 0;
			text-align: center;
			&_num {
				line-height: var(--vk-step-item-dot-num-line-height);
			}
			i {
				margin-right:auto;
				margin-left:auto;
				//line-heightがきいてなかったので追加
				display: block;
				line-height: var(--vk-step-item-dot-num-line-height);
			}
			&.vk_step_item_style-default {
				color: #ffffff;			
				&:not(.has-background) {
					background-color: #337ab7;
				}
			}
			&.vk_step_item_style-outlined {
				border: 2px solid currentColor;
				&:not(.has-text-color) {
					color: #337ab7;
				}
			}
		}
		.vk_step_item_dot_caption {
			font-size: calc(var(--vk-size-text) * 0.5 );
			line-height: calc(var(--vk-size-text) * 0.875 );
		}
	}
}
.vk_step_item_lineStyle-default {
	&::before {
		content: "";
		width: 3px;
		background: rgba(0, 0, 0, 0.15);
		display: block;
		position: absolute;
		top: 54px;
		left: 23px;
		bottom: 4px;
	}
}