/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_timeline {
	margin: 2em 0;
	.vk_timeline_item {
		position: relative;
		padding: 0 0 1em 1.8em;

		.vk_timeline_item_caption {
			margin-bottom: 0.5em;
			color: #666;
		}

		.vk_timeline_item_style {
			content: "";
			display: block;
			position: absolute;
			top: 4px;
			left: 0;
			width: 14px;
			height: 14px;
			border-radius: 50%;
		}
	}
}

.vk_timeline_item_lineStyle-default {
	&::before {
		content: "";
		width: 3px;
		background: #ddd;
		display: block;
		position: absolute;
		top: 22px;
		left: 6px;
		bottom: 0;
	}
}
