:root {
  --vk-heading-has-background-padding: 0.6em 0.7em 0.5em;
}

.is-style-vk-heading h3.is-style-vk-heading:after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading h3.is-style-vk-heading:after {
  border-bottom: none !important;
}
.is-style-vk-heading-plain:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-background_fill_lightgray:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-double_black:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-double_bottomborder_black:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-solid_black:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-solid_bottomborder_black:not(.has-text-align-center, .has-text-align-right), .is-style-vk-heading-dotted_bottomborder_black:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-plain:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-background_fill_lightgray:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_black:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_bottomborder_black:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_black:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_bottomborder_black:not(.has-text-align-center, .has-text-align-right), .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-dotted_bottomborder_black:not(.has-text-align-center, .has-text-align-right) {
  text-align: left;
}
.is-style-vk-heading-plain, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-plain {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: unset;
  display: block;
}
.is-style-vk-heading-plain::before, .is-style-vk-heading-plain::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-plain::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-plain::after {
  content: none;
}
.is-style-vk-heading-plain[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-plain[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-background_fill_lightgray, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-background_fill_lightgray {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  border: none;
  background-color: var(--wp--preset--color--bg-secondary, #efefef);
  padding: 0.6em 0.7em 0.5em;
  margin-bottom: 1.2em;
  border-radius: 4px;
}
.is-style-vk-heading-background_fill_lightgray::before, .is-style-vk-heading-background_fill_lightgray::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-background_fill_lightgray::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-background_fill_lightgray::after {
  content: none;
}
.is-style-vk-heading-background_fill_lightgray[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-background_fill_lightgray[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-double_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0.6em 0 0.5em;
  margin-bottom: 1.2em;
  border-top: double 3px #333;
  border-bottom: double 3px #333;
}
.is-style-vk-heading-double_black::before, .is-style-vk-heading-double_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_black::after {
  content: none;
}
.is-style-vk-heading-double_black[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_black[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-double_bottomborder_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_bottomborder_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0.6em 0 0.5em;
  margin-bottom: 1.2em;
  border-bottom: double 3px #333;
}
.is-style-vk-heading-double_bottomborder_black::before, .is-style-vk-heading-double_bottomborder_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_bottomborder_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_bottomborder_black::after {
  content: none;
}
.is-style-vk-heading-double_bottomborder_black[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-double_bottomborder_black[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-solid_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0.6em 0 0.5em;
  margin-bottom: 1.2em;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}
.is-style-vk-heading-solid_black::before, .is-style-vk-heading-solid_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_black::after {
  content: none;
}
.is-style-vk-heading-solid_black[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_black[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-solid_bottomborder_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_bottomborder_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0.6em 0 0.5em;
  margin-bottom: 1.2em;
  border-bottom: solid 1px #333;
}
.is-style-vk-heading-solid_bottomborder_black::before, .is-style-vk-heading-solid_bottomborder_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_bottomborder_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_bottomborder_black::after {
  content: none;
}
.is-style-vk-heading-solid_bottomborder_black[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-solid_bottomborder_black[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-dotted_bottomborder_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-dotted_bottomborder_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0.6em 0 0.5em;
  margin-bottom: 1.2em;
  border-bottom: 1px dotted #111;
}
.is-style-vk-heading-dotted_bottomborder_black::before, .is-style-vk-heading-dotted_bottomborder_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-dotted_bottomborder_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-dotted_bottomborder_black::after {
  content: none;
}
.is-style-vk-heading-dotted_bottomborder_black[class*=has-background], .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-dotted_bottomborder_black[class*=has-background] {
  padding: var(--vk-heading-has-background-padding);
}
.is-style-vk-heading-both_ends, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-both_ends {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1.2em;
  padding: 0;
}
.is-style-vk-heading-both_ends::before, .is-style-vk-heading-both_ends::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-both_ends::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-both_ends::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid currentColor;
  position: unset;
  width: unset;
  border-left: unset;
  border-right: unset;
  border-top: none;
  background: unset;
}
.is-style-vk-heading-both_ends::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-both_ends::before {
  margin-right: 1em;
  top: unset;
}
.is-style-vk-heading-both_ends::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-both_ends::after {
  margin-left: 1em;
  bottom: unset;
}
.is-style-vk-heading-brackets_black, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-brackets_black {
  position: relative;
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
  border-radius: unset;
  overflow: unset;
  color: inherit;
  border: none;
  background-color: transparent !important;
  padding: 0.7em;
  margin-bottom: 1.2em;
  text-align: center;
  border-bottom: unset !important;
}
.is-style-vk-heading-brackets_black::before, .is-style-vk-heading-brackets_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-brackets_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-brackets_black::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12px;
  height: 100%;
  display: inline-block;
  margin-left: 0;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background: unset;
}
.is-style-vk-heading-brackets_black::before, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-brackets_black::before {
  border-left: solid 1px currentColor;
  left: 0;
}
.is-style-vk-heading-brackets_black::after, .editor-styles-wrapper .block-editor-block-list__layout .is-style-vk-heading-brackets_black::after {
  border-right: solid 1px currentColor !important;
  right: 0;
  left: auto;
}-style-vk-image-photoFrame-tilt-left.alignleft.alignright, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignright.alignright, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.aligncenter.alignright, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignleft.alignright, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignright.alignright, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.aligncenter.alignright {
  margin: 0 0 0.5em 1em;
}
.wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignleft.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignleft.alignfull, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignright.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignright.alignfull, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.aligncenter.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.aligncenter.alignfull, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignleft.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignleft.alignfull, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignright.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignright.alignfull, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.aligncenter.alignwide, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.aligncenter.alignfull {
  width: auto;
}
.wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignleft figcaption, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignright figcaption, .wp-block-image.is-style-vk-image-photoFrame-tilt-left.aligncenter figcaption, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignleft figcaption, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignright figcaption, .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.aligncenter figcaption {
  display: block !important;
  margin: 8px 0 0;
}
.wp-block-image.is-style-vk-image-shadow figure.alignleft, .wp-block-image.is-style-vk-image-shadow figure.alignright, .wp-block-image.is-style-vk-image-shadow figure.aligncenter {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  width: -moz-fit-content;
  width: fit-content;
}
.wp-block-image.is-style-vk-image-shadow figure.alignleft figcaption, .wp-block-image.is-style-vk-image-shadow figure.alignright figcaption, .wp-block-image.is-style-vk-image-shadow figure.aligncenter figcaption {
  display: block;
}
.wp-block-image.is-style-vk-image-shadow figure.alignleft.alignwide, .wp-block-image.is-style-vk-image-shadow figure.alignright.alignwide, .wp-block-image.is-style-vk-image-shadow figure.aligncenter.alignwide {
  width: unset;
}
.wp-block-image.is-style-vk-image-wave01 figure.alignleft img, .wp-block-image.is-style-vk-image-wave01 figure.alignright img, .wp-block-image.is-style-vk-image-wave01 figure.aligncenter img {
  -webkit-mask-image: var(--vk_image-mask-wave01);
          mask-image: var(--vk_image-mask-wave01);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.wp-block-image.is-style-vk-image-wave02 figure.alignleft img, .wp-block-image.is-style-vk-image-wave02 figure.alignright img, .wp-block-image.is-style-vk-image-wave02 figure.aligncenter img {
  -webkit-mask-image: var(--vk_image-mask-wave02);
          mask-image: var(--vk_image-mask-wave02);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.wp-block-image.is-style-vk-image-wave03 figure.alignleft img, .wp-block-image.is-style-vk-image-wave03 figure.alignright img, .wp-block-image.is-style-vk-image-wave03 figure.aligncenter img {
  -webkit-mask-image: var(--vk_image-mask-wave03);
          mask-image: var(--vk_image-mask-wave03);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.wp-block-image.is-style-vk-image-wave04 figure.alignleft img, .wp-block-image.is-style-vk-image-wave04 figure.alignright img, .wp-block-image.is-style-vk-image-wave04 figure.aligncenter img {
  -webkit-mask-image: var(--vk_image-mask-wave04);
          mask-image: var(--vk_image-mask-wave04);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.wp-lightbox-overlay.zoom.active figure.wp-block-image.is-style-vk-image-photoFrame-tilt-right {
  transform: none;
}
.wp-lightbox-overlay.zoom.active figure.wp-block-image.is-style-vk-image-photoFrame-tilt-left {
  transform: none;
}
.wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right.alignleft, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right.alignright, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right.aligncenter, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right figure.alignleft, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right figure.alignright, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-right figure.aligncenter {
  transform: none;
}
.wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignleft, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left.alignright, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left.aligncenter, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignleft, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.alignright, .wp-lightbox-overlay.zoom.active .wp-block-image.is-style-vk-image-photoFrame-tilt-left figure.aligncenter {
  transform: none;
}