/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.wp-block-vk-blocks-pr-card{
	.vk_pr-card_item{
		margin: auto;
	}
}
.vk_icon_card_item_summary {
    margin-bottom: 0.5em;
    line-height: 1.8em;
}
