.editor-styles-wrapper .vk_tableOfContents{
	.vk_tableOfContents_list {
		margin-bottom: 0; // for lightning
	}
	.button_status-open {
		&::before {
			content: "CLOSE";
		}
	}
	.button_status-close {
		&::before {
			content: "OPEN";
		}
	}
	// :checked
	input:checked {
		~ .button_status-open {
			&::before {
				content: "OPEN";
			}
		}
		~ .button_status-close {
			&::before {
				content: "CLOSE";
			}
		}
	}
}