/* 
コア側のブロックcssを上書き用のファイルです 
--------------------------------------------*/

.edit-post-visual-editor.editor-styles-wrapper {
	//ソーシャルアイコン
	.vk_card_item .block-editor-inner-blocks .block-editor-block-list__layout,//これがないとカード内のインナーブロックで効かない
	.wp-block-social-links{
		&.is-style-default,
		&.is-style-logos-only{
			.wp-block{
				&.wp-social-link{
						width: 36px;
						height: 36px;
						margin: 0 8px 0 0;
					}
			}
		}
	}
}

//最新の投稿ブロック
.editor-styles-wrapper {
	.wp-block-latest-posts.is-grid li{
		padding: 1em 0;
		border-bottom: 1px solid var(--color-border);
	}
	.wp-block-latest-posts__featured-image{
		img{
			border: 1px solid var(--color-border);
		}
	}
}
