
.vk_block_icon_pro {
  fill:#c00;
  }
  .editor-block-list-item-vk-blocks-card:after,
  .editor-block-list-item-vk-blocks-child-page:after,
  .editor-block-list-item-vk-blocks-timeline:after,
  .editor-block-list-item-vk-blocks-step:after,
  .editor-block-list-item-vk-blocks-outer:after,
  .editor-block-list-item-vk-blocks-post-list:after,
  .editor-block-list-item-vk-blocks-table-of-contents:after,
  .editor-block-list-item-vk-blocks-simple-table:after{
  position: absolute;
  top: 0;
  right: 0;
  content: "Pro";
  display: inline-block;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  background-color: #cd3034;
  border-radius: 2px;
  padding: 3px 4px;
  }
  
  .components-base-control__label {
     font-weight:bold;
  }
  .components-base-control .components-base-control__help {
    margin-top:0;
  }
  .components-radio-control__option label { margin-bottom:0; }
  .components-checkbox-control__label { margin-bottom:0; }
  .components-color-palette { display:block; overflow:hidden; }
  
  /*スライダーを表示。デフォルトだとbootstrapに非表示にされてしまう*/
  input[type=range] {
      margin: 1px;
  }
  
  .editor-url-input input[type="text"]{
      width:100%;
  }
  
  /* ブロックインサーター@サイドバー用 */
.vkb-menu__template-part__button{
	padding:0;
	width:100%;

	.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    max-width: 100%;
    padding: 2em 0;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(#202024, .12);
    transition: all .35s ease;
    
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      background: #000;
      height: 4px;
    }
    &::before {
      width: 0;
      opacity: 0;
      transition: opacity 0 ease, width 0 ease;
      transition-delay: .5s;
    }
    &::after {
      width: 100%;
      background: white;
      transition: width .5s ease;
    }
    .content {
      width: 100%;
      max-width: 100%;
      padding: 15px;
    }
    .logo {
      margin: 0 0 1em;
      width: 10.625em;
      transition: all .35s ease;
    }
    h6 {
      color: #999;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 2px;
    }
    .hover_content {
      overflow: scroll;
      max-height: 0;
      transform: translateY(1em);
      transition: all .55s ease;
      div.inner {
        margin: 1.5em 0 0;
        color: #6E6E70;
        line-height: 1.4em;
      }
      .edit-post-visual-editor{
        position: initial;
        padding-top: 0;
      }
    }
    &:hover {
      // width: 24em;
      box-shadow: 0 10px 20px 0 rgba(#202024, .12);
      &::before {
        // width: 100%;
        opacity: 1;
        transition: opacity .5s ease, width .5s ease;
        transition-delay: 0;
      }
      &::after {
        // width: 0;
        opacity: 0;
        transition: width 0 ease;
      }
      .logo {
        margin-bottom: .5em;
      }
      .hover_content {
        max-height: none;
        height:100%;
        transform: none;
        margin-top: 20px;
        .inner{
          // height:400px;
          width: 100%;
          .block-editor-block-preview__container::before{
            position: relative;
            height: auto;
          }
          .block-editor-block-preview__container::before{
            content: "";
            display: block;
            padding-top: 100%;
          }
        }
      }
    }
  }
}
  
  /* editor area *********************************************/
  .edit-post-visual-editor.editor-styles-wrapper{
  
  
  /* これがないとGutenberg標準のエディタCSSに負ける */
  h1:first-child.vk_prBlocks_item_title{
    margin-top:0.9em;
  }
  
  /* Bootstrap Adjuster */
  $border_primary: 1px solid #e5e5e5;
  $color_font_default: #464646;
  
  $xs-max: 575.98px;
  $sm-max: 767.98px;
  $md-max: 991.98px;
  $lg-max: 1199.98px;
  
  $sm-min: 576px;
  $md-min: 768px;
  $lg-min: 992px;
  $xl-min: 1200px;
  
  $color-danger : #b52727;
  
  /*-------------------------------------------*/
  /* card
  /*-------------------------------------------*/
  
  // Card ボタンリンクの説明
  .postList_itemCard_button-option {
    margin-bottom: 5px;
  }
  
  .vk_post_imgOuter {
    position: relative;
    .components-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition: all 1s;
    }
    .button-delete {
      opacity: 0;
      border:1px solid $color-danger;
      color:$color-danger;
      transition: all 1s;
      &:hover {
        background-color: $color-danger;
        color:#fff;
      }
    }
  }
  .vk_post_imgOuter:hover .button-delete {
    transition: all 1s;
    opacity: 1;
  }
  
  
  /*-------------------------------------------*/
  /* vk_post Layout
  /*-------------------------------------------*/
  /* If exclude the .vk_posts that, when you select the .media don't work */
  
  
  // .vk_posts .editor-inner-blocks .editor-block-list__layout .wp-block .editor-block-list__block-edit div .vk_post-col {
  
  .vk_posts > .vk_posts-edit {
    width:100%;
    .editor-block-list__layout {
      display: flex;
      flex-wrap: wrap;
      padding:0;
      width:100%;
    }
    .editor-block-list__block {
      margin:0 15px 30px;
      padding:0;
      .block-editor-block-list__block-edit {
        margin:0;
        height:100%;
      }
      /* ここより下は編集機能以外でマイナスオフセットする必要はない */
      div[data-block]{
        margin:0;
        height:100%;
        .vk_post {
          width:100%;
          height:100%;
          margin-top:0;
        }
      }
    }
    .block-list-appender {
      clear:both;
      width:100%;
    }
  
  }
  .vk_posts .vk_posts-edit-col {
    &-xs-3 .editor-block-list__block{
      width: calc(25% - 30px);
    }
    &-xs-4 .editor-block-list__block{
      width: calc(33.3% - 30px);
    }
    &-xs-6 .editor-block-list__block{
      width: calc(50% - 30px);
    }
    &-xs-12 .editor-block-list__block {
      width: calc(100% - 30px);
    }
    @media (min-width: $sm-min) {
      &-sm-3 .editor-block-list__block{
        width: calc(25% - 30px);
      }
      &-sm-4 .editor-block-list__block{
        width: calc(33.3% - 30px);
      }
      &-sm-6 .editor-block-list__block{
        width: calc(50% - 30px);
      }
      &-sm-12 .editor-block-list__block{
        width: calc(100% - 30px);
      }
    }
    @media (min-width: $md-min) {
      &-md-3 .editor-block-list__block{
        width: calc(25% - 30px);
      }
      &-md-4 .editor-block-list__block{
        width: calc(33.3% - 30px);
      }
      &-md-6 .editor-block-list__block{
        width: calc(50% - 30px);
      }
      &-md-12 .editor-block-list__block{
        width: calc(100% - 30px);
      }
    }
    @media (min-width: $lg-min) {
      &-lg-3 > .editor-block-list__block{
        width: calc(25% - 30px);
      }
      &-lg-4 > .editor-block-list__block{
        width: calc(33.3% - 30px);
      }
      &-lg-6 > .editor-block-list__block{
        width: calc(50% - 30px);
      }
      &-lg-12 > .editor-block-list__block{
        width: calc(100% - 30px);
      }
    }
    @media (min-width: $xl-min) {
      &-xl-3 > .editor-block-list__block{
        width: calc(25% - 30px);
      }
      &-xl-4 > .editor-block-list__block{
        width: calc(33.3% - 30px);
      }
      &-xl-6 > .editor-block-list__block{
        width: calc(50% - 30px);
      }
      &-xl-12 > .editor-block-list__block{
        width: calc(100% - 30px);
      }
    }
  }