/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_icon
/*-------------------------------------------*/
.vk_icon {
	@media screen and (max-width: 992px) {
		margin-bottom: 1.5em;
	}
}
.wp-block-vk-blocks-icon { //編集画面で負けるので先頭に追加
	.vk_icon {
		&_align {
			&_center {
				text-align: center;
			}
			&_right {
				text-align: right;
			}
		}

		&_border {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
			border-radius: 50%;

			&:not(.vk_icon_border_frame):not(.vk_icon_border_none) {
				color: #fff;
			}
		}

		&_link {
			display: inline-block;

			&:hover {
				opacity: .85;
			}
		}

		&_font {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			font-size: 36px;
		}
	}

	.is-style-outline {
		.vk_icon_border {
			background-color: transparent;
			border: 1px solid currentColor;
		}
	}
}

// デフォルトのカラー
.wp-block-vk-blocks-icon {
	.vk_icon_border:not(.has-background):not(.vk_icon_border_frame):not(.vk_icon_border_none) {
		background-color: #337ab7;
	}

	.vk_icon_border_none:not(.has-text-color) {
		color: #337ab7;
	}

	.is-style-outline {
		.vk_icon_border:not(.has-text-color) {
			color: #337ab7;
		}
	}
}