/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_icon
/*-------------------------------------------*/
.vk_icon {
	@media screen and (max-width: 992px) {
		margin-bottom: 1.5em;
	}
}
.wp-block-vk-blocks-icon { //編集画面で負けるので先頭に追加
	.vk_icon {
		&_align {
			&_center {
				text-align: center;
			}
			&_right {
				text-align: right;
			}
		}

		&_border {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			border-width: 1px;
			border-style: solid;

/*			&:not(.has-background):not(.has_key_color){ 
				background-color: #0693e3;
				border: 1px solid #0693e3;
			} */

			&_frame {
				background-color: transparent;
			}

			&_none {
				border: none;
			}
		}

		&_link {
			display: inline-block;

			&:hover {
				opacity: .85;
			}
		}

		&_font {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			font-size: 36px;
			color: #fff;
		}
	}
}

// デフォルトカラー Lightning(下記の仮)がない場合に適用
.vk_icon_border.has_key_color {
	border-color: #0693e3;

	&:not(.vk_icon_border_frame):not(.vk_icon_border_none ){
		background-color: #0693e3;
	}

	&.vk_icon_border_frame,
	&.vk_icon_border_none {
		.vk_icon_font {
			color: #0693e3;
		}
	}
}

// (仮)キーカラー Lightningに実装する(?)
.vk_icon_border.has_key_color {
	border-color: #C00;

	&:not(.vk_icon_border_frame):not(.vk_icon_border_none ){
		background-color: #C00;
	}

	&.vk_icon_border_frame,
	&.vk_icon_border_none {
		.vk_icon_font {
			color: #C00;
		}
	}
}