.wp-block-vk-blocks-blog-card {
	box-sizing: border-box;

	.wp-block-columns {
		&:not(.is-not-stacked-on-mobile).vk_flex-wrap-reverse-on-mobile {
			@media (max-width: 782px) {
				flex-wrap: wrap-reverse!important;
			}
		}
	}

	// URLInputとボタンのレイアウト調整
	.components-placeholder__fieldset form {
		flex-wrap: initial;

		.components-base-control  {
			width: 100%;
		}

		button {
			height: 100%;
		}
	}
}
