/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
	.vk_slider_item {
		&.vk_align-top {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&.vk_align-center {
			align-items: center;
			justify-content: center;
		}
		&.vk_align-bottom {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: #333;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 5px;
		background-image: none;
		width: 2.4rem;
		height: 2.4rem;
		&:after {
			font-size: 1.2rem;
		}
	}
}
	&.vk_width-full {
		//全幅の時
		margin: 0 calc(50% - 50vw);
		width: 100vw;
		.vk_slider_item {
			width: 100vw !important;
			.vk_outer-width-full {
				width: 100%;
			}
		}
	}
	.block-list-appender {
		//管理画面のボタン
		width: 100%;
		max-width: 1140px;
		margin: auto;
	}
}
.swiper-slide {
	font-size: 18px;
	display: flex;
	align-items: center;
	flex-direction: column;
	p {
		margin: 0;
	}
	a,
	a:hover {
		text-decoration: none;
		color: inherit;
	}
}

//pagination
.swiper-pagination-bullet-active {
	background: #000;
	opacity: 0.6;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 15px;
}

//管理画面
.edit-post-visual-editor.editor-styles-wrapper {
	.swiper-button-prev,
	.swiper-button-next {
		//button非表示
		display: none;
	}
	.swiper-container.vk_width-full {
		//全幅の時

		.wp-block-vk-blocks-slider-item {
			margin: auto;
			.vk_outer-paddingLR-use {
				//メニューに隠れて編集しずらいため
				@media (min-width: 768px) {
					margin-left: calc(50% - 50vw + 200px);
					margin-right: calc(50% - 50vw + 200px);
				}
			}
		}
	}
}
