/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_icon
/*-------------------------------------------*/
.vk_icon {
	@media screen and (max-width: 992px) {
		margin-bottom: 1.5em;
	}
}
.wp-block-vk-blocks-icon{ //編集画面で負けるので先頭に追加
	.vk_icon {
		&_link {
			&:hover {
				color: #333;
				text-decoration: none;
			}
		}
		&_outer {
			display: block;
			position: relative;
			margin: 0 auto;
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
		&_font {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			font-size: 36px;
			color: #fff;
		}
	}
}