.vkb-hidden-xs {
  display: none;
}
@media (min-width: 576px) {
  .vkb-hidden-xs {
    display: initial;
  }
  .vkb-hidden-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .vkb-hidden-sm {
    display: initial;
  }
  .vkb-hidden-md {
    display: none;
  }
}
@media (min-width: 992px) {
  .vkb-hidden-md {
    display: initial;
  }
  .vkb-hidden-lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .vkb-hidden-lg {
    display: initial;
  }
  .vkb-hidden-xl {
    display: none;
  }
}
