
:root {
    --vk-color-border-red: #dc3545;
    --vk-color-background-red:#dc3545;
    --vk-color-border-orange: #ffa536;
    --vk-color-background-orange:#ffa536;
    --vk-color-border-blue: #4267b2;
    --vk-color-background-blue:#4267b2;
    --vk-color-border-green: #28a745;
    --vk-color-background-green:#28a745;
    --vk-color-border-black: #222;
    --vk-color-background-black:#222;
}

/*
線色指定
--------------------------------------------*/
.vk_borderBox-color{
    &-red {
        border-color:var(--vk-color-border-red);
        background-color:var(--vk-color-background-red);
    }
    &-orange {
        border-color:var(--vk-color-border-orange);
        background-color:var(--vk-color-background-orange);
    }
    &-blue {
        border-color:var(--vk-color-border-blue);
        background-color:var(--vk-color-background-blue);
    }
    &-green {
        border-color:var(--vk-color-border-green);
        background-color:var(--vk-color-background-green);
    }
    &-black {
        border-color:var(--vk-color-border-black);
        background-color:var(--vk-color-background-black);
    }
}


/*
共通指定
--------------------------------------------*/
.vk_borderBox {
    margin: 0 0 2em;
    position: relative;
   .vk_borderBox_title{
       margin:0;
       font-size: 1em;
       line-height: 1.4;
       padding: 0.5em 1.5em 0.4em;
       font-weight: bold;
       .svg-inline--fa,.fas{
        margin-right: 5px;
       }
   }
   .vk_borderBox_body{
        padding: 1.5em;
        background-color: #fff;
        border-width: 2px;
        border-style: solid;
       p{ margin-bottom: 0; }
   }
}

/*
装飾指定
--------------------------------------------*/
.vk_borderBox{ 
    &.vk_borderBox-style-solid-kado-tit-tab,
    &.vk_borderBox-style-solid-round-tit-tab {   
        .vk_borderBox_title {           
            display: inline-block;
        }
    }
    &.vk_borderBox-style-solid-round-tit-tab {
       .vk_borderBox_title{ border-radius: 8px 8px 0 0; }  
    }
    &.vk_borderBox-style-solid-kado-tit-inner,
    &.vk_borderBox-style-solid-kado-tit-onborder,
    &.vk_borderBox-style-iconFeature {
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        .vk_borderBox_title {
            padding: 1.5em 1.5em 1em;
        }
        .vk_borderBox_body {  
            background-color: transparent;
            border: none;
            padding-top: 0;
        }
    }
    &.vk_borderBox-style-iconFeature{
        .vk_borderBox_title {
            position: relative;
            padding-top: 2.2em;
            &::after{
                content: "";
                position: absolute;
                top: -32%;
                left: 1.5em;
                padding: 1.4em;
                border-radius: 50%;
                border: solid 2px #fff;

            }
        }
        .svg-inline--fa,.fas{
            position: absolute;
            font-size: 1.3em;
            margin-right: 0;
            z-index: 100;
            top: 0%;
            left: 2.3em;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }
    &.vk_borderBox-style-solid-kado-tit-onborder{
        .vk_borderBox_title {
            position: relative;
            top: -1.2em;
            left: 1em;
            z-index: 1;
            display: inline-block;
            padding: .5em .5em;
            background: #fff;
        }
    }
}


/*
タイトル部分色指定
--------------------------------------------*/
/* タブ風タイトル　背景色がないパターン */
.vk_borderBox{
    &.vk_borderBox-style-solid-kado-tit-tab,
    &.vk_borderBox-style-solid-round-tit-tab{
        border:none;
        background-color: transparent;  
    }
}

/* タイトル背景塗り 白文字パターン */
.vk_borderBox-style-solid-kado-tit-tab,
.vk_borderBox-style-solid-kado-tit-banner,
.vk_borderBox-style-solid-round-tit-tab{
    .vk_borderBox_title{
        color:#fff;
    }
    &.vk_borderBox-color-red {
        .vk_borderBox_title {
            background-color:  var(--vk-color-background-red);
        }
        .vk_borderBox_body {
            border-color:var(--vk-color-border-red);
        }
    }

    &.vk_borderBox-color-orange {
        .vk_borderBox_title{
            background-color:  var(--vk-color-background-orange);
        }
        .vk_borderBox_body {
            border-color:var(--vk-color-border-orange);
        }
    }
    &.vk_borderBox-color-blue {
        .vk_borderBox_title{
             background-color:  var(--vk-color-background-blue);
        }
        .vk_borderBox_body {
            border-color:var(--vk-color-border-blue);
        }
    }    
    &.vk_borderBox-color-green {
        .vk_borderBox_title{
            background-color:  var(--vk-color-background-green);
        }
        .vk_borderBox_body {
            border-color:var(--vk-color-border-green);
        }
    } 
    &.vk_borderBox-color-black {
        .vk_borderBox_title{
            background-color:  var(--vk-color-background-black);
        }
        .vk_borderBox_body {
            border-color:var(--vk-color-border-black);
        }
    }   
}

/* タイトル文字色のみパターン */
.vk_borderBox-style-solid-kado-tit-inner,
.vk_borderBox-style-solid-kado-tit-onborder,
.vk_borderBox-style-iconFeature{
    &.vk_borderBox-color-red .vk_borderBox_title {
        color: var(--vk-color-background-red);
    }
    &.vk_borderBox-color-orange .vk_borderBox_title {
        color: var(--vk-color-background-orange);
    }
    &.vk_borderBox-color-blue .vk_borderBox_title {
        color: var(--vk-color-background-blue);
    }
    &.vk_borderBox-color-green .vk_borderBox_title {
        color: var(--vk-color-background-green);
    }
    &.vk_borderBox-color-black .vk_borderBox_title {
        color: var(--vk-color-background-black);
    }

}
/* iconFeatureパターン */
.vk_borderBox-style-iconFeature{
    &.vk_borderBox-color-red{
        .vk_borderBox_title{
            .svg-inline--fa,.fas{ //iconfont
                color: #fff;
            }
            &::after{ 
                background-color:  var(--vk-color-background-red);
            }
        }
    }
    &.vk_borderBox-color-orange{
        .vk_borderBox_title{
            .svg-inline--fa,.fas{ //iconfont
                background-color:  var(--vk-color-background-orange);
                color: #fff;
            }
            &::after{ 
                background-color:  var(--vk-color-background-orange);
            }
        }
    }
    &.vk_borderBox-color-blue{
        .vk_borderBox_title{
            .svg-inline--fa,.fas{ //iconfont
                background-color:  var(--vk-color-background-blue);
                color: #fff;
            }
            &::after{ 
                background-color:  var(--vk-color-background-blue);
            }
        }
    }
    &.vk_borderBox-color-green{
        .vk_borderBox_title{
            .svg-inline--fa,.fas{ //iconfont
                background-color:  var(--vk-color-background-green);
                color: #fff;
            }
            &::after{ 
                background-color:  var(--vk-color-background-green);
            }
        }
    }
    &.vk_borderBox-color-black{
        .vk_borderBox_title{
            .svg-inline--fa,.fas{ //iconfont
                background-color:  var(--vk-color-background-black);
                color: #fff;
            }
            &::after{ 
                background-color:  var(--vk-color-background-black);
            }
        }
    }
}
