/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
:root {
	--admin-bar-offset: 32px;
}

.vk_fixed-display {
	position: fixed;
	margin-block-start: 0;
	z-index: 99999;
}

.vk_fixed-display-mode {
	
	&-always-visible {
	}
	
	&-show-on-scroll {
		transition: opacity 0.3s ease;
		pointer-events: none;
		opacity: 0;

		&.is-visible {
			opacity: 1 !important;
			pointer-events: auto;
		}
	}

	&-display-hide-after-time {
		opacity: 1 !important;
		transition: opacity 0.3s ease;

		&.is-timed-display {
			opacity: 0 !important;
			pointer-events: none;

			&.is-timed-visible {
				opacity: 1 !important;
			}
		}

		&.is-timed-hide {
			transition: opacity 0.3s ease;

			&:not(.is-timed-visible),
			&.is-timed-hidden {
				opacity: 0 !important;
				pointer-events: none;
			}
		}
	}
}

.vk_fixed-display-position {

	&-top {
		top: 0;
		left: 0;
		right: 0;
		place-self: center;
		width: 100%;
		max-width: 100% !important;
	}
	&-right {
		right: 0;
		> * {
			margin-left: auto;
		}
		> .alignfull {
			margin-left: calc(100% - 100vw) !important;
			margin-right: 0 !important;
		}
		> .alignwide {
			margin-left: calc((100% - 100vw) / 2) !important;
			margin-right: 0 !important;
		}
	}
	&-bottom {
		left: 0;
		right: 0;
		bottom: 0;
		place-self: center;
		width: 100%;
		max-width: 100% !important;
	}
	&-left {
		left: 0;
		> * {
			margin-right: auto;
		}
		> .alignfull {
			margin-right: calc(100% - 100vw) !important;
			margin-left: 0 !important;
		}
		> .alignwide {
			margin-right: calc((100% - 100vw) / 2) !important;
			margin-left: 0 !important;
		}
	}
	&-from-top {
	}
	&-from-bottom {
	}
}

/*-------------------------------------------*/
/* 編集画面用
/*-------------------------------------------*/
.block-editor-block-list__block {
	&.vk_fixed-display {
		
		/* タイマー機能用クラス */
		&.is-timed-hide,
		&.is-timed-display {
				opacity: unset;
		}
	}

	&.vk_fixed-display-position {
		width: auto;
		&-right {
			.block-editor-block-list__layout {
				> * {
					margin-left: auto;
					place-content: end !important;
				}
				> .alignfull {
					margin-left: calc(100% - 100vw);
					margin-right: 0;
				}
			}
		}
		&-left {
			.block-editor-block-list__layout {
				> * {
					margin-right: auto;
					place-content: start !important;
				}
				> .alignfull {
					margin-right: calc(100% - 100vw);
					margin-left: 0;
				}
			}
		}

		&-from-top {
			top: unset !important;
		}
		&-from-bottom {
			bottom: unset !important;
		}
	}
}

/*-------------------------------------------*/
/* 管理画面用
/*-------------------------------------------*/
.logged-in.admin-bar:not(.scrolled) {
	
	.vk_fixed-display-position {
		&-top {
			top: var(--admin-bar-offset);
		}
		&-from-top {
			top: calc(50svh + var(--admin-bar-offset));
		}
		&-from-bottom {
			bottom: calc(50svh + var(--admin-bar-offset));
		}
	}	
}
