/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$toc-left-margin: 1rem;

.vk_tableOfContents {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  padding: 3em 2em;
  position: relative;
  &-style-default {
    border: 3px solid rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.015);
    padding: 3rem 4rem;
  }
  &_title {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.5em;
  }
  li {
    margin: 0;
  }
  &_list {
    padding: 0;
    margin-top: 1em;
    &_item {
      list-style: none;
      border-bottom: 1px solid #e5e5e5;
      padding: 0.8rem 0;
      &-h-2 {
        // padding-left:$toc-left-margin;
      }
      &-h-3 {
        padding-left: $toc-left-margin * 1;
      }
      &-h-4 {
        padding-left: $toc-left-margin * 2;
      }
      &-h-5 {
        padding-left: $toc-left-margin * 3;
      }
      &-h-6 {
        padding-left: $toc-left-margin * 4;
      }
      &_link {
        color: #333;
        border-bottom: 1px solid #ccc;
        &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
  }
  input#toggle {
    display: none;
  }
  label {
    position: absolute;
    top: 0;
    right: 28px;
  }
  label::before {
    font-size: 25px;
    font-weight: 100;
    content: "+";
    display: inline-block;
    text-align: center;
  }
  #expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
  }
  #toggle:checked ~ #expand {
    height: auto;
  }
  #toggle:checked ~ label::before {
    content: "-";
  }
}
