/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.wp-block-vk-blocks-icon-card{
	.vk_icon-card_item{
		margin: 0 15px 15px 15px;
	}
}
.vk_icon_card_item_summary {
    margin-bottom: 0.5em;
    line-height: 1.8em;
}
.vk_card {
	&_item {
	  .vk_post_title.card-title {
		font-size: calc(1rem * 1 );
	  }
	  .vk_post_excerpt.card-text {
		font-size: 14px;
	  }
	}
  }
/*-------------------------------------------*/
/* .vk_icon-card
/*-------------------------------------------*/
.vk_icon-card_item {
	@media screen and (max-width: 991.98px) {
		margin-bottom: 1.5em;
	}
}
.wp-block-vk-blocks-icon-card{ //編集画面で負けるので先頭に追加
	.vk_icon-card_item {
		&_link {
			color: #333;
			&:hover {
				color: #333;
				text-decoration: none;
			}
		}
		&_icon_outer {
			display: block;
			position: relative;
			margin: 0 auto;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			//背景なしの時
			&.is-style-outline {
				//カラー選択
				background-color: transparent;
				border: 1px solid currentColor;
				//デフォルト状態
				&:not(.has-text-color) {
					color: #0693e3;
				}
			}
			//デフォルト状態
			//ベタ塗りの時
			&:not(.is-style-outline) {
				&:not(.has-background) {
					background-color: #0693e3;
				}
				.vk_icon-card_item {
					&_icon {
						color: #fff;
					}
				}
			}
		}
		&_icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			font-size: 36px;
		}
		&_title {
			background-color: transparent;
			margin-top: 0.9em;
			margin-bottom: 0.6em;
			font-size: 21px;
			line-height: 1.4em;
			border: none;
			border-radius:unset;
			padding: 0;
			outline: unset;
			outline-offset: unset;
			box-shadow: unset;
			color: inherit;
			display: block; /* 見出しデザイン設定で左右線指定されるなど display:flec;などが不要された場合対策 */
			&::before {
				content: none;
			}
			&::after {
				border: none;
			}
			a {
				color:var(--vk-color-text-body);
			}
		}
		&_image {
			position: relative;
			display: block;
			width: 120px;
			height: 120px;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 50%;
			text-indent: -9999px;
		}
	}
	.vk_icon_card_item_summary, // 本当は vk_icon-card が正しいのに vk_icon_card で出力されている
	.vk_icon-card_item_summary {
		margin-bottom: 0.5em;
		line-height: 1.8em;
		a {
			color:var(--vk-color-text-body);
			text-decoration: none;
		}
	}
}
