/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_post_list_slider {

	.vk_post {
		width: calc(100% - 30px);
		&.postListText {
			width: calc(100% - 9.6rem);		
			border-bottom: none;
			.postListText_title{ // lightning テーマで .swiper-slide p に負けてしまうため追加
				font-size: 14px;
			}
		}
	}

	.swiper-pagination {
		position: inherit;
		&.swiper-pagination-fraction {
			display: inline-block;
		}
	}
}

/* 矢印ボタン */
//モバイルは下部
@media (max-width: 575.98px) {
	.vk_post_list_slider {
		.swiper-button-next, 
		.swiper-button-prev{
			&.swiper-button-mobile-bottom{
				top:unset;
				bottom: 0;
			}
		}
	}
}
