/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_post_list_slider {

	.vk_post {
		width: calc(100% - 30px);
		&.postListText {
			width: calc(100% - 9.6rem);
			padding: 0;
			border-bottom: 0;
		}
	}

	.swiper-pagination {
		position: inherit;
	}
}

/* 矢印ボタン */
//モバイルは下部
@media (max-width: 575.98px) {
	.vk_post_list_slider {
		.swiper-button-next, 
		.swiper-button-prev{
			&.swiper-button-mobile-bottom{
				top:unset;
				bottom: 10px;
			}
		}
	}
}
