.wp-block-vk-blocks-blog-card-featured-image {
	margin-left: 0;
	margin-right: 0;
	a {
		display: block;
		height: 100%;
	}
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
		vertical-align: bottom;
		box-sizing: border-box;
	}
}
