/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_timeline {
	// theme.json があると body .is-layout-flow > * に対して margin-block-start/end ともに 0 がつくので暫定的な上書き処理
	&,
	body .container .is-layout-flow > & {
		margin: 2em auto; 
	}
	.vk_timeline_item {
		position: relative;
		padding: 0 0 2.4em 1.8em;
		padding:0 0 0 calc(var(--vk-size-text) * 1.8 );
		h3:first-of-type,
		h4:first-of-type {
			margin-top: calc(var(--vk-size-text) * 0.5 );
		}
		&_caption {
			margin-bottom: 1.5em;
			color: #666;
		}
		&_content {
			display:grid; // block & hidden だと中の要素のシャドウが切れるので grid に変更
			& > *:last-child{
				margin-bottom:var(--vk-margin-md);
			}
		}

		&_style {
			content: "";
			display: block;
			position: absolute;
			top: 4px;
			left: 0;
			width: 14px;
			height: 14px;
			border-radius: 50%;

			&.vk_timeline_item_style-default {
				&:not(.has-background) {
					background-color: #337ab7;
				}				
			}

			&.vk_timeline_item_style-outlined {
				border: 3px solid currentColor;
				&:not(.has-text-color) {
					color: #337ab7;
				}
			}
		}
	}
}

.vk_timeline_item_lineStyle-default {
	&::before {
		content: "";
		width: 3px;
		background: rgba(0, 0, 0, 0.15);
		display: block;
		position: absolute;
		top: 22px;
		left: 6px;
		bottom: 0;
	}
}
