/*-------------------------------------------*/
/* .dynamic-text
/*-------------------------------------------*/
.wp-block-vk-blocks-dynamic-text {
	padding: 1em;
	margin: 1em auto;
	border-radius: 3px;
}
