@mixin title_design_unset {
	position: relative;
	background-color: transparent;
	outline: unset;
	outline-offset: unset;
	box-shadow: unset;
	border: none;
	border-radius:unset;
	padding: 0;
	color: inherit;
	&::before,
	&::after {
		content: none;
	}
}

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_card {
  &_item {
    .vk_post_title.card-title {
	  font-size: calc(1rem * 1 );
	  @include title_design_unset;
    }
    .vk_post_excerpt.card-text {
      font-size: 14px;
		}
		.block-editor-inner-blocks{
			.block-editor-block-list__layout{
				.wp-block{
					width: 100%;
				}
			}
		}
  }
}

.vk_post_title {
	@include title_design_unset;
}
