/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$vk_animation_short_size: 3em;
$vk_animation_normal_size: 3em;
$vk_animation_large_size: 3em;

:root {
	--vk-animation-size: 3em;
}

.vk_animation {
	opacity: 0;
	position: relative;
	&-active {
		opacity: 1;
	}
}

.vk_animation-speed-very-slow {

}

.vk_animation-speed-slow {

}

.vk_animation-speed-normal {

}

.vk_animation-speed-fast {
    transition: all 0.5s ease-out 0.5s;
}

.vk_animation-speed-very-fast {

}

.vk_animation-slide-up {

	&.vk_animation-range-short {
		top: $vk_animation_short_size;
	}

	&.vk_animation-range-normal {
		top: $vk_animation_normal_size;
	}

	&.vk_animation-range-large {
		top: $vk_animation_large_size;
	}

	&.vk_animation-active {
		top: 0;
	}

}

.vk_animation-slide-right {

	&.vk_animation-range-short {
		left: - $vk_animation_short_size;
	}

	&.vk_animation-range-normal {
		left: - $vk_animation_normal_size;
	}

	&.vk_animation-range-large {
		left: - $vk_animation_large_size;
	}

	&.vk_animation-active {
		left: 0;
	}

}

.vk_animation-slide-left {

	&.vk_animation-range-short {
		right: - $vk_animation_short_size;
	}

	&.vk_animation-range-normal {
		right: - $vk_animation_normal_size;
	}

	&.vk_animation-range-large {
		right: - $vk_animation_large_size;
	}

	&.vk_animation-active {
		right: 0;
	}

}
