/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_layoutColumn
/*-------------------------------------------*/
.vk_layoutColumn {
	display: flex;
	flex-wrap: wrap;
	gap: var(--vk-layout-column-gap);
}

.vk_layoutColumnItem {
	flex-shrink: 0;
	flex-grow: 1;
	max-width: 100%;

	&.vk_layoutColumnItem-layout-main {
		flex-grow:999;
		width: 500px;
		flex-basis:var(--vk-layout-column-main-column-min-width);		
	}

	&.vk_layoutColumnItem-layout-sub {
		flex-basis:var(--vk-layout-column-sub-column-min-width);
	}
}

