/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_layoutColumn
/*-------------------------------------------*/


.vk_layoutColumn_grid {
	>.block-editor-inner-blocks {

		>.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
		}

		.components-unit-control-wrapper {
			margin-top: 20px;
		}

		.wp-block {
			margin: 0px;
		}
	}
}

.vk_layoutColumn_block {
	//border: 1px solid #f00;

	.block-editor-inner-blocks{
		display: block;

		.block-editor-block-list__layout {
			display: block;
			width: 100%;
		}
		.wp-block {
			width:100%;
			margin: 0;
		}		
	}
}


.vk_layoutColumnItem {
	box-sizing: border-box;
}


.editor-styles-wrapper {
	.vk_layoutColumnItem {
		border: 1px dotted #aaa;
		min-width: 100px;
		min-height: 50px;
	}
}