.wp-block-group {
	&.has-link {
		position: relative;
	}
	&-vk-link {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		color: transparent;
		cursor: pointer;
		z-index: 10;
	}
}
